<app-header></app-header>

<!-- <------Banner------->

<div class="banner">
    <img class="img-fluid" src="../../../../assets/image/aboutpage/NoPath.png" alt="cow img">
</div>

<!-- <------Gallery------->

<div class="Gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gly-title">
                    <h2>Gallery</h2>
                </div>            
            </div>
            <div class="col-md-6">
                <div class="pdt-img">
                    <img src="../../../../assets/image/galary/1.jpeg" alt="Ghee Product" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="pdt-img">
                    <img src="../../../../assets/image/galary/2.jpeg" alt="Ghee Product" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="pdt-img">
                    <img src="../../../../assets/image/galary/3.jpeg" alt="Ghee Product" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="pdt-img">
                    <img src="../../../../assets/image/galary/4.jpeg" alt="Ghee Product" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>